# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.egg-info
*.rdb
*.sqlite
*.swo
*.swp
.coverage
.DS_Store
.idea
.pytest
.tox
/coverage/
MANIFEST
postgres/
.htmlcov/
.vscode/
media/*